<h1 align="center" style="color: #87CEEB;">Customer-Churn-Prediction-using-ANN<h1>

In [81]:
import pandas as pd

In [82]:
df=pd.read_csv("archive\Churn_Modelling.csv")

In [83]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [85]:
df.duplicated().sum()

0

In [86]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [87]:
df.drop(columns=["RowNumber","CustomerId","Surname"],inplace=True)

In [88]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [90]:
df=pd.get_dummies(df,columns=["Geography","Gender"],drop_first=True,dtype=int)

In [91]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [92]:
from sklearn.model_selection import train_test_split

X=df.drop(columns=["Exited"])
y=df['Exited']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [93]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [94]:
X_train_scaled

array([[-0.23082038, -0.94449979, -0.70174202, ...,  1.71490137,
        -0.57273139,  0.91509065],
       [-0.25150912, -0.94449979, -0.35520275, ..., -0.58312392,
        -0.57273139, -1.09278791],
       [-0.3963303 ,  0.77498705,  0.33787579, ...,  1.71490137,
        -0.57273139, -1.09278791],
       ...,
       [ 0.22433188,  0.58393295,  1.3774936 , ..., -0.58312392,
        -0.57273139, -1.09278791],
       [ 0.13123255,  0.01077067,  1.03095433, ..., -0.58312392,
        -0.57273139, -1.09278791],
       [ 1.1656695 ,  0.29735181,  0.33787579, ...,  1.71490137,
        -0.57273139,  0.91509065]])

In [95]:
import tensorflow
from tensorflow import keras

In [96]:
from keras import Sequential
from tensorflow.keras.layers import Dense

In [97]:
model=Sequential()

In [98]:
model.add(Dense(3,activation="sigmoid",input_dim=11))
model.add(Dense(1,activation="sigmoid"))

In [99]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 3)                 36

 dense_11 (Dense)            (None, 1)                 4

=================================================================
Total params: 40 (160.00 Byte)
Trainable params: 40 (160.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [100]:
model.compile(loss="binary_crossentropy",optimizer='Adam')

In [101]:
model.fit(X_train_scaled,y_train,epochs=10)

Epoch 1/10

250/250 [==============================] - 1s 1ms/step - loss: 0.9873
Epoch 2/10
250/250 [==============================] - 0s 1ms/step - loss: 0.7521
Epoch 3/10
250/250 [==============================] - 0s 1ms/step - loss: 0.6305
Epoch 4/10
250/250 [==============================] - 0s 1ms/step - loss: 0.5689
Epoch 5/10
250/250 [==============================] - 0s 1ms/step - loss: 0.5370
Epoch 6/10
250/250 [==============================] - 0s 1ms/step - loss: 0.5184
Epoch 7/10
250/250 [==============================] - 0s 1ms/step - loss: 0.5043
Epoch 8/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4918
Epoch 9/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4803
Epoch 10/10
250/250 [==============================] - 0s 1ms/step - loss: 0.4694

In [102]:
model.layers[0].get_weights()

[array([[ 0.3475555 ,  0.34172934, -0.28475103],
        [-1.1417904 ,  0.4493593 ,  1.1265339 ],
        [ 0.3338464 , -0.24706057,  0.20650569],
        [-0.3857592 ,  0.05249841,  0.494788  ],
        [-0.09445819, -0.28533685,  0.13787933],
        [-0.19342732, -0.37274125, -0.06671996],
        [ 0.40157214, -0.49510545, -0.928507  ],
        [-0.181087  ,  0.17483911,  0.18346001],
        [-0.78753763,  1.0282607 ,  0.2199339 ],
        [ 0.26634097, -0.05442199, -0.16256328],
        [ 0.2940805 , -0.633002  , -0.31008288]], dtype=float32),
 array([ 0.28788036, -0.61709154, -0.62736136], dtype=float32)]

In [103]:
y_log=model.predict(X_test_scaled)

63/63 [==============================] - 0s 785us/step

In [104]:
import numpy as np
y_pred=np.where(y_log>0.5,1,0)

In [105]:
from sklearn.metrics import classification_report

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.79      1.00      0.88      1585
           1       0.00      0.00      0.00       415

    accuracy                           0.79      2000
   macro avg       0.40      0.50      0.44      2000
weighted avg       0.63      0.79      0.70      2000

c:\Users\salma\anaconda3\envs\DeepLearningCampusX\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\salma\anaconda3\envs\DeepLearningCampusX\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\salma\anaconda3\envs\DeepLearningCampusX\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [106]:
model2=Sequential()

In [107]:
X_train.shape

(8000, 11)

In [108]:
model2.add(Dense(6,input_dim=11,activation='relu'))

In [109]:
model2.add(Dense(3,activation='relu'))

In [110]:
model2.add(Dense(1,activation='sigmoid'))

In [111]:
model2.compile(loss="binary_crossentropy",optimizer='Adam',metrics=['accuracy'])

In [112]:
model2.fit(X_train_scaled,y_train,epochs=100,validation_split=0.2)

Epoch 1/100
200/200 [==============================] - 1s 2ms/step - loss: 0.5830 - accuracy: 0.7972 - val_loss: 0.5060 - val_accuracy: 0.7975
Epoch 2/100
200/200 [==============================] - 0s 2ms/step - loss: 0.4719 - accuracy: 0.7972 - val_loss: 0.4556 - val_accuracy: 0.7975
Epoch 3/100
200/200 [==============================] - 0s 2ms/step - loss: 0.4463 - accuracy: 0.7972 - val_loss: 0.4395 - val_accuracy: 0.7975
Epoch 4/100
200/200 [==============================] - 0s 2ms/step - loss: 0.4368 - accuracy: 0.7972 - val_loss: 0.4314 - val_accuracy: 0.7975
Epoch 5/100
200/200 [==============================] - 0s 2ms/step - loss: 0.4308 - accuracy: 0.7972 - val_loss: 0.4247 - val_accuracy: 0.7975
Epoch 6/100
200/200 [==============================] - 0s 2ms/step - loss: 0.4259 - accuracy: 0.7972 - val_loss: 0.4184 - val_accuracy: 0.7975
Epoch 7/100
200/200 [==============================] - 1s 2ms/step - loss: 0.4207 - accuracy: 0.7972 - val_loss: 0.4120 - val_accuracy: 0.7975
Epoch 8/100
200/200 [==============================] - 0s 2ms/step - loss: 0.4149 - accuracy: 0.7972 - val_loss: 0.4050 - val_accuracy: 0.7975
Epoch 9/100
200/200 [==============================] - 1s 3ms/step - loss: 0.4079 - accuracy: 0.7972 - val_loss: 0.3977 - val_accuracy: 0.7975
Epoch 10/100
200/200 [==============================] - 0s 2ms/step - loss: 0.4004 - accuracy: 0.7972 - val_loss: 0.3908 - val_accuracy: 0.7975
Epoch 11/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3931 - accuracy: 0.8325 - val_loss: 0.3846 - val_accuracy: 0.8363
Epoch 12/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3862 - accuracy: 0.8397 - val_loss: 0.3791 - val_accuracy: 0.8381
Epoch 13/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3799 - accuracy: 0.8439 - val_loss: 0.3733 - val_accuracy: 0.8413
Epoch 14/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3746 - accuracy: 0.8472 - val_loss: 0.3688 - val_accuracy: 0.8444
Epoch 15/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3704 - accuracy: 0.8502 - val_loss: 0.3656 - val_accuracy: 0.8506
Epoch 16/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3672 - accuracy: 0.8542 - val_loss: 0.3632 - val_accuracy: 0.8519
Epoch 17/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3640 - accuracy: 0.8584 - val_loss: 0.3615 - val_accuracy: 0.8500
Epoch 18/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3620 - accuracy: 0.8587 - val_loss: 0.3592 - val_accuracy: 0.8506
Epoch 19/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3601 - accuracy: 0.8600 - val_loss: 0.3583 - val_accuracy: 0.8519
Epoch 20/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3582 - accuracy: 0.8592 - val_loss: 0.3562 - val_accuracy: 0.8531
Epoch 21/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3568 - accuracy: 0.8603 - val_loss: 0.3558 - val_accuracy: 0.8519
Epoch 22/100
200/200 [==============================] - 0s 3ms/step - loss: 0.3551 - accuracy: 0.8623 - val_loss: 0.3546 - val_accuracy: 0.8544
Epoch 23/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3539 - accuracy: 0.8628 - val_loss: 0.3542 - val_accuracy: 0.8519
Epoch 24/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3529 - accuracy: 0.8625 - val_loss: 0.3530 - val_accuracy: 0.8531
Epoch 25/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3518 - accuracy: 0.8642 - val_loss: 0.3521 - val_accuracy: 0.8550
Epoch 26/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3506 - accuracy: 0.8631 - val_loss: 0.3512 - val_accuracy: 0.8562
Epoch 27/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3496 - accuracy: 0.8639 - val_loss: 0.3514 - val_accuracy: 0.8525
Epoch 28/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3490 - accuracy: 0.8645 - val_loss: 0.3503 - val_accuracy: 0.8569
Epoch 29/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3483 - accuracy: 0.8630 - val_loss: 0.3513 - val_accuracy: 0.8525
Epoch 30/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3475 - accuracy: 0.8644 - val_loss: 0.3491 - val_accuracy: 0.8550
Epoch 31/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3466 - accuracy: 0.8634 - val_loss: 0.3483 - val_accuracy: 0.8556
Epoch 32/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3461 - accuracy: 0.8650 - val_loss: 0.3491 - val_accuracy: 0.8544
Epoch 33/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3454 - accuracy: 0.8631 - val_loss: 0.3493 - val_accuracy: 0.8519
Epoch 34/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3451 - accuracy: 0.8633 - val_loss: 0.3477 - val_accuracy: 0.8531
Epoch 35/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3445 - accuracy: 0.8628 - val_loss: 0.3481 - val_accuracy: 0.8537
Epoch 36/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3443 - accuracy: 0.8637 - val_loss: 0.3471 - val_accuracy: 0.8550
Epoch 37/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3435 - accuracy: 0.8617 - val_loss: 0.3471 - val_accuracy: 0.8537
Epoch 38/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3429 - accuracy: 0.8634 - val_loss: 0.3470 - val_accuracy: 0.8544
Epoch 39/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3429 - accuracy: 0.8628 - val_loss: 0.3464 - val_accuracy: 0.8525
Epoch 40/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3423 - accuracy: 0.8630 - val_loss: 0.3462 - val_accuracy: 0.8562
Epoch 41/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3423 - accuracy: 0.8639 - val_loss: 0.3455 - val_accuracy: 0.8562
Epoch 42/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3414 - accuracy: 0.8648 - val_loss: 0.3464 - val_accuracy: 0.8556
Epoch 43/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3413 - accuracy: 0.8641 - val_loss: 0.3473 - val_accuracy: 0.8550
Epoch 44/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3408 - accuracy: 0.8648 - val_loss: 0.3459 - val_accuracy: 0.8562
Epoch 45/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8625 - val_loss: 0.3468 - val_accuracy: 0.8569
Epoch 46/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3402 - accuracy: 0.8637 - val_loss: 0.3457 - val_accuracy: 0.8569
Epoch 47/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8622 - val_loss: 0.3449 - val_accuracy: 0.8562
Epoch 48/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3394 - accuracy: 0.8647 - val_loss: 0.3450 - val_accuracy: 0.8550
Epoch 49/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3392 - accuracy: 0.8648 - val_loss: 0.3444 - val_accuracy: 0.8537
Epoch 50/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3391 - accuracy: 0.8644 - val_loss: 0.3448 - val_accuracy: 0.8575
Epoch 51/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3387 - accuracy: 0.8644 - val_loss: 0.3442 - val_accuracy: 0.8569
Epoch 52/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3384 - accuracy: 0.8645 - val_loss: 0.3436 - val_accuracy: 0.8544
Epoch 53/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8644 - val_loss: 0.3428 - val_accuracy: 0.8550
Epoch 54/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3377 - accuracy: 0.8652 - val_loss: 0.3434 - val_accuracy: 0.8544
Epoch 55/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3375 - accuracy: 0.8644 - val_loss: 0.3436 - val_accuracy: 0.8556
Epoch 56/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3373 - accuracy: 0.8650 - val_loss: 0.3428 - val_accuracy: 0.8556
Epoch 57/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3372 - accuracy: 0.8637 - val_loss: 0.3424 - val_accuracy: 0.8556
Epoch 58/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3364 - accuracy: 0.8642 - val_loss: 0.3431 - val_accuracy: 0.8531
Epoch 59/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8637 - val_loss: 0.3417 - val_accuracy: 0.8544
Epoch 60/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8637 - val_loss: 0.3417 - val_accuracy: 0.8569
Epoch 61/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8642 - val_loss: 0.3414 - val_accuracy: 0.8556
Epoch 62/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3357 - accuracy: 0.8645 - val_loss: 0.3413 - val_accuracy: 0.8562
Epoch 63/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3357 - accuracy: 0.8645 - val_loss: 0.3409 - val_accuracy: 0.8556
Epoch 64/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3352 - accuracy: 0.8645 - val_loss: 0.3399 - val_accuracy: 0.8575
Epoch 65/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3352 - accuracy: 0.8642 - val_loss: 0.3399 - val_accuracy: 0.8575
Epoch 66/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8659 - val_loss: 0.3405 - val_accuracy: 0.8537
Epoch 67/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8653 - val_loss: 0.3405 - val_accuracy: 0.8587
Epoch 68/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8648 - val_loss: 0.3399 - val_accuracy: 0.8587
Epoch 69/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3345 - accuracy: 0.8659 - val_loss: 0.3402 - val_accuracy: 0.8600
Epoch 70/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8653 - val_loss: 0.3403 - val_accuracy: 0.8606
Epoch 71/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8655 - val_loss: 0.3390 - val_accuracy: 0.8587
Epoch 72/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8656 - val_loss: 0.3403 - val_accuracy: 0.8562
Epoch 73/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8655 - val_loss: 0.3381 - val_accuracy: 0.8581
Epoch 74/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8656 - val_loss: 0.3391 - val_accuracy: 0.8581
Epoch 75/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3336 - accuracy: 0.8661 - val_loss: 0.3389 - val_accuracy: 0.8556
Epoch 76/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8662 - val_loss: 0.3384 - val_accuracy: 0.8587
Epoch 77/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8666 - val_loss: 0.3381 - val_accuracy: 0.8569
Epoch 78/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8655 - val_loss: 0.3375 - val_accuracy: 0.8581
Epoch 79/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8655 - val_loss: 0.3378 - val_accuracy: 0.8587
Epoch 80/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8666 - val_loss: 0.3373 - val_accuracy: 0.8569
Epoch 81/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8659 - val_loss: 0.3381 - val_accuracy: 0.8581
Epoch 82/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8656 - val_loss: 0.3377 - val_accuracy: 0.8581
Epoch 83/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3330 - accuracy: 0.8661 - val_loss: 0.3376 - val_accuracy: 0.8600
Epoch 84/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3328 - accuracy: 0.8656 - val_loss: 0.3375 - val_accuracy: 0.8581
Epoch 85/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.8648 - val_loss: 0.3390 - val_accuracy: 0.8575
Epoch 86/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8658 - val_loss: 0.3383 - val_accuracy: 0.8587
Epoch 87/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8648 - val_loss: 0.3379 - val_accuracy: 0.8594
Epoch 88/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8661 - val_loss: 0.3379 - val_accuracy: 0.8600
Epoch 89/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3322 - accuracy: 0.8664 - val_loss: 0.3384 - val_accuracy: 0.8581
Epoch 90/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.8655 - val_loss: 0.3377 - val_accuracy: 0.8600
Epoch 91/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3320 - accuracy: 0.8653 - val_loss: 0.3372 - val_accuracy: 0.8581
Epoch 92/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3320 - accuracy: 0.8658 - val_loss: 0.3367 - val_accuracy: 0.8569
Epoch 93/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3319 - accuracy: 0.8658 - val_loss: 0.3369 - val_accuracy: 0.8581
Epoch 94/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3322 - accuracy: 0.8659 - val_loss: 0.3366 - val_accuracy: 0.8562
Epoch 95/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8652 - val_loss: 0.3363 - val_accuracy: 0.8581
Epoch 96/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3319 - accuracy: 0.8656 - val_loss: 0.3363 - val_accuracy: 0.8562
Epoch 97/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8658 - val_loss: 0.3362 - val_accuracy: 0.8581
Epoch 98/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8653 - val_loss: 0.3372 - val_accuracy: 0.8581
Epoch 99/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3319 - accuracy: 0.8656 - val_loss: 0.3368 - val_accuracy: 0.8575
Epoch 100/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8650 - val_loss: 0.3362 - val_accuracy: 0.8587

In [113]:
y_log_2=model2.predict(X_test_scaled)

63/63 [==============================] - 0s 1ms/step

In [118]:
y_pred_2=np.where(y_log_2>0.5,1,0)

In [119]:
y_pred_2

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]])

In [120]:
print(classification_report(y_true=y_test,y_pred=y_pred_2))

              precision    recall  f1-score   support

           0       0.88      0.97      0.92      1585
           1       0.79      0.47      0.59       415

    accuracy                           0.86      2000
   macro avg       0.83      0.72      0.76      2000
weighted avg       0.86      0.86      0.85      2000